body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f7f1c8;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100px;
    border:solid 2px green;
    margin: 5px;
}
.cont-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 95%;
    border: solid 2px red;
}
.logo-header{
    margin-left: 1rem;
    text-shadow: 0 0 10px rgb(74 255 34), 0 0 20px #ffedfc, 0 0 30px #d37aff, 0 0 40px #a6ffea;
    font-size: 190%;
    color: #da18f0;
}
.header-cart-sum{
    font-size: 150%;
    color: crimson;
}
.cart{
    width:72px;
    height: 72px;
    background-repeat: no-repeat;
    background: url('./basket_icon-icons.com_66289.png');
    
}
.cart:hover{
    width:72px;
    height: 72px;
    background-repeat: no-repeat;
    background: url('./basket_full.jpg');
}


/*----------------------end-header-----------------------*/


main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    padding: 0 25px 0 25px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 700px;
    border: solid 2px rgb(255, 0, 255);
    gap: 10px;
}
.up-button-left-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px blue;
    width: 95%;
    height: 40px;
    margin-top: 10px;
}
.reset-filter,.copy-link{
    height: 30px;
    width:45%;
    background-color: #2daed1;
    color:#f5e593;
    border-radius: 10px;
    border: none;
}
.reset-filter:hover,.copy-link:hover{
    height: 30px;
    width:45%;
    background-color: rgb(197, 127, 77);
    color:#e2cb58;
    border-radius: 10px;
    border: none;
}
.sort-input {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 12px;
    background-color: rgb(241 192 247);;
    font-weight: bold;
    color:#161409;
    font-size: 18px;
    outline: none;
}
select {
    width: 100%;
    height: 32px;
    padding: 0 0 0 10px;
    border: none;
    border-radius: 8px;
    background-color:#2daed1;
    appearance:auto;
    font-size: 18px;
    font-family: inherit;
    color:#f5e593;
    cursor: pointer;
}

.midle-left-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 95%;
    height: 300px;
    border: solid 2px violet;

}
.bottom-left-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 300px;
    border: solid 2px violet;
}
.view{
    cursor: pointer;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/

/*------------------------RIGHT-----------------------*/

/*----------------------------------------------------*/
/*----------------------------------------------------*/
.right{
    width: 75%;
    min-height: 700px;
    border: solid 2px green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up-right-cont{
    width: 98%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px brown;
    margin-top: 10px;
    margin-bottom: 15px;
}
.content{
width: 100%;
height: 600px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 18px;
overflow: auto;
}
.item{
    display: flex;
    flex-direction: column;
    height: 500px;
    width:31%;
    border:solid 1px violet;
    border-radius:10px;
    background-color: #f7f7ea;
}
.item:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.item-name{
    align-self: center;
    color:#776abc;
}
.item-discr{
    margin-left: 10px;
    font-size: 20px;
    color: #1b7b64;
    margin-bottom: 15px;
    line-height: 22px;
}
.item-image{
    display: block;
    height: 220px;
    width: 92%;
    align-self: center;
    border-radius: 10px;
}
.item-button-cont{
    display: flex;
    justify-content: space-around;
}
.btn-item{
    height: 42px;
    width:45%;
    background-color: #2daed1;
    color:#f5e593;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
.btn-item:hover{
    background-color: rgb(197, 127, 77);
    color:#e2cb58;
}
.off{
    display: none;
}
/*--------------------list-style--------------------*/

.item-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    width:96%;
    border:solid 1px violet;
    border-radius:10px;
    background-color: #f7f7ea;
}
.item-list:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.item-name-list{
position: absolute;
margin-left: 80px;
}
.text-cont-list{
    width: 238px;
margin-top: 25px;
}
.item-image-list{
width: 300px;
height: 235px;
margin-left: 55px;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/

/*----------------------footer------------------------*/

/*----------------------------------------------------*/
/*----------------------------------------------------*/
.footer{
    margin-top: 60px;
    max-width: 100%;
    flex: 0 0 auto;
}
.footer-container {
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(137, 130, 238);
}
  
.footer-data {
    display: flex;
    align-items: center;
    color: #fff;
}
  
.copyright {
    color: #fff;
    padding-right: 20px;
}
  
.github-username {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
    color: #fff;
}
  
.github-username:hover {
    color: #bdae82; 
}
.logo-name{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.rss-logo {
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./rss.svg");
    transition: .3s;
}
.rss-logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

    /**/